@import 'mathlive/dist/mathlive-static.css';

math-field{
    background-color: #BDDCFF;
    min-height: 100px;
    min-width: 100px;
    padding: 5px;
}
math-field.no-events{
  pointer-events: none;
}
.math-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.example {
  font-size: 35px;
  display: flex;
  width: 100%;
  //align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.text-input {
  font-size: 35px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-color: #53a0fa;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answer {
  margin-left: 100px;
}

.question {
  // max-width: 400px;
  // min-width: 200px;
  width: 300px;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  display: flex;
  margin-top: 4px;
  word-break: break-all;
  height: auto;
  vertical-align: top;

}

.button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 50px;
}

.back-to-set {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  margin-bottom: 50px;
}

.correct-answer{
  margin-left: 10px;
  font-size: 16px;
}
